.article-card {
    max-width: 25vw;
    max-height: 60vh ;
    margin: 5vh 7vw;
    justify-content: center;

  }

  .article-card:hover {
      box-shadow: 5px solid black;
  }
  
  .mat-card-image {
    background-size: cover;
    height: 20vh;
    width: 20vw;
    margin:auto;
  }

  a{
      text-decoration: none;
  }


  @media(max-width:576px){
    .article-card {
      max-width: 100vw;
      max-height: 80vh ;
      margin: 5vh 7vw;
      justify-content: center;
  
    }
  }