<div class="container">
    <div class="form-container">
        <form [formGroup]='searchForm' (ngSubmit)='searchSubmit()'>
            <input id="keyword" type="text" placeholder="Enter keyword" formControlName='keyword' />
            <button mat-fab color="primary" type="submit" id="search">Search</button>
        </form>
    </div>

    <h2 *ngIf='searchResults==undefined else load'>Enter any keyword</h2>
    <ng-template #load>
    <div class='searches' *ngIf="searchResults&&searchResults.length>0 else loading">
        <app-fav-article [article]='myarticle' *ngFor='let myarticle of searchResults'>

        </app-fav-article>

    </div>
</ng-template>

    <ng-template #loading>
        <h2>No current news matching your keyword!</h2>
    </ng-template>

</div>