<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="footer-section-container">
    <section class="footer-section-content">


        <section class="signup-section">
            <div class="subscribe">
                <h3>SUBSCRIBE</h3>
                <!-- section 3 and signup link here -->
                <input type="text" placeholder="Enter email" />
                <button>Subscribe</button>
            </div>
            <div class="social">
                <h3>CONNECT WITH US</h3>
                <div class="social-media-links">
                    <!-- social icons here -->
                    <a href="https://www.twitter.com/"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
                    <a href="https://www.google.com/"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a>
                </div>
            </div>
        </section>

    </section>
    <hr>



    <p id="copyrights">&copy; Copyright 2020 StackRoute - All Rights Reserved</p>

</footer>